<table>
  <thead>
    <tr>
      <th scope='col'>Date Period</th>
      <% _.each(columns, function (column) { %>
        <th scope='col'><%= column['title'] %></th>
      <% }); %>
    </tr>
  </thead>
  <tbody>
    <% for (var row = 0; row < numValues; row++) { %>
      <tr>
        <td scope='row'><%= columns[0]['data'][row]['period'] %></td>
        <% _.each(columns, function (column){ %>
          <td><%= column['data'][row]['value'] %></td>
        <% }); %>
      </tr>
    <% } %>
  </tbody>
</table>
